<div class="group"><h2>Appearance Settings</h2>  <ul><li class="no_bullets" id="li_select_lang"><img class="icon ic_s_lang" alt="" title="" src="themes/dot.gif"> <form class="disableAjax" action="index.php" method="get"><input type="hidden" value="" name="db"><input type="hidden" value="" name="table"><input type="hidden" value="54f2d74ce902284c463b0cfe513a2d86" name="token"><bdo lang="en" dir="ltr"><label for="sel-lang">Language<a target="documentation" href="./url.php?url=http%3A%2F%2Fdocs.phpmyadmin.net%2Fen%2Flatest%2Ffaq.html%23faq7-2&amp;token=54f2d74ce902284c463b0cfe513a2d86"><img class="icon ic_b_help" alt="Documentation" title="Documentation" src="themes/dot.gif"></a>: </label></bdo><select lang="en" id="sel-lang" dir="ltr" class="autosubmit" name="lang"><option value="ar">العربية - Arabic</option><option value="bg">Български - Bulgarian</option><option value="bn">বাংলা - Bangla</option><option value="ca">Català - Catalan</option><option value="cs">Čeština - Czech</option><option value="da">Dansk - Danish</option><option value="de">Deutsch - German</option><option value="el">Ελληνικά - Greek</option><option selected="selected" value="en">English</option><option value="en_GB">English (United Kingdom)</option><option value="es">Español - Spanish</option><option value="et">Eesti - Estonian</option><option value="fi">Suomi - Finnish</option><option value="fr">Français - French</option><option value="gl">Galego - Galician</option><option value="hi">हिन्दी - Hindi</option><option value="hr">Hrvatski - Croatian</option><option value="hu">Magyar - Hungarian</option><option value="id">Bahasa Indonesia - Indonesian</option><option value="it">Italiano - Italian</option><option value="ja">日本語 - Japanese</option><option value="ko">한국어 - Korean</option><option value="lt">Lietuvių - Lithuanian</option><option value="nb">Norsk - Norwegian</option><option value="nl">Nederlands - Dutch</option><option value="pl">Polski - Polish</option><option value="pt">Português - Portuguese</option><option value="pt_BR">Português - Brazilian portuguese</option><option value="ro">Română - Romanian</option><option value="ru">Русский - Russian</option><option value="si">සිංහල - Sinhala</option><option value="sk">Slovenčina - Slovak</option><option value="sl">Slovenščina - Slovenian</option><option value="sr@latin">Srpski - Serbian latin</option><option value="sv">Svenska - Swedish</option><option value="th">ภาษาไทย - Thai</option><option value="tr">Türkçe - Turkish</option><option value="uk">Українська - Ukrainian</option><option value="uz">Ўзбекча - Uzbek-cyrillic</option><option value="uz@latin">O‘zbekcha - Uzbek-latin</option><option value="zh_CN">中文 - Chinese simplified</option><option value="zh_TW">中文 - Chinese traditional</option></select></form></li><li class="no_bullets" id="li_select_theme"><img class="icon ic_s_theme" alt="" title="" src="themes/dot.gif"> <form class="disableAjax" action="index.php" method="get" name="setTheme"><input type="hidden" value="54f2d74ce902284c463b0cfe513a2d86" name="token"><a class="themeselect" target="themes" href="./themes.php">Theme</a>:
  <select lang="en" class="autosubmit" dir="ltr" name="set_theme"><option value="original">Original</option><option selected="selected" value="pmahomme">pmahomme</option></select></form></li><li id="li_select_fontsize"><form class="disableAjax" action="index.php" method="get" id="form_fontsize_selection" name="form_fontsize_selection">
  <input type="hidden" value="54f2d74ce902284c463b0cfe513a2d86" name="token">
  <label for="select_fontsize">Font size:</label>
  <select class="autosubmit" id="select_fontsize" name="set_fontsize">
    <option value="32%">32%</option>
    <option value="42%">42%</option>
    <option value="52%">52%</option>
    <option value="62%">62%</option>
    <option value="72%">72%</option>
    <option value="77%">77%</option>
    <option value="78%">78%</option>
    <option value="79%">79%</option>
    <option value="80%">80%</option>
    <option value="81%">81%</option>
    <option selected="selected" value="82%">82%</option>
    <option value="83%">83%</option>
    <option value="84%">84%</option>
    <option value="85%">85%</option>
    <option value="86%">86%</option>
    <option value="87%">87%</option>
    <option value="92%">92%</option>
    <option value="102%">102%</option>
    <option value="112%">112%</option>
    <option value="122%">122%</option>
    <option value="132%">132%</option>
  </select>
</form></li></ul><ul><li class="no_bullets" id="li_user_preferences"><a href="prefs_manage.php?token=54f2d74ce902284c463b0cfe513a2d86"><img class="icon ic_b_tblops" alt="" title="" src="themes/dot.gif"> More settings</a>
</li></ul></div>

<%= link_to 'todos', todos_path %>